.body{
    display: block;
    text-align: -webkit-center;
}
h1{
    text-align: center;
}
.content{
    text-align: left;
    width: 450px;
    border: solid 1px;
}

.image{
    text-align: center;
    border-radius: 50%;
}