.body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    display: block;
    text-align: -webkit-center;
    background:  burlywood;
}

a{
    color: rgb(12, 58, 58);
    text-decoration: none;
}

a :hover{
text-decoration: underline;
}

h1{
    text-align: center;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background: antiquewhite;

}
.content{
    text-align: left;
    background:rgb(219, 201, 178);
    width: 450px;
    padding-bottom: 20px;
}

.image{
    text-align: center;
    border-radius: 50%;
    margin-left: 10%;
}

.text{
    padding-left: 10px;
}

.social{
    padding-left: 10px;
    background:antiquewhite
}

.soc{
    margin: 0 5px 0 0;
}

footer{
    width: 100%;
    height: 100px;
    background:gray;
}